

  

.nav-link{
    margin-left: 30px;
}

.nav-link:hover{
    color: #007BFF !important;
}

a{
    color: gray ;
    text-decoration: none;
}

#supportHero{
    background-color:rgb(56, 126, 209)  ;
    color: white;
}
#supportHero a{
    color: white;
}
#supportWrraper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
#supportHero input{
    width: 100%;
    padding: 2.5%;
    border-radius: 10px;
    display: inline;
    border: none;
}
